@font-face {
    font-family: 'Apostrophic';
    src: url('../fonts/apostrophic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sf-ui-display-bold-58646a511e3d9.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sf-ui-display-light-58646b33e0551.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sf-ui-display-medium-58646be638f96.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/*begin navigatie code phone*/
nav{
    background-color: #231C13;
}

.logo-container a{
    text-decoration: none;
    color: #D9D4CA;
    font-family: 'Apostrophic';
    font-size: 2.4em;
}

.navigatie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 24px 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.klik {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 100vh;
    background-color: #231C13; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: right 0.4s ease-in-out;
}

.klik a{
    font-family: 'SFUIDisplay';
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
}

.klik.open {
    right: 0;
}

.hamburger {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #D9D4CA;
}

.content__image img {
    transition: opacity 0.3s ease-in-out; 
}

.content__image.hidden img {
    opacity: 0; 
    pointer-events: none; 
}

.hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 768px) {
    .klik {
        position: static;
        width: auto;
        height: auto;
        background: none;
        flex-direction: row;
        gap: 15px;
        justify-content: flex-end;
    }

    .klik a {
        color: black;
        font-size: 1rem;
    }

    .hamburger {
        display: none;
    }
}