@font-face {
    font-family: 'Apostrophic';
    src: url('../fonts/apostrophic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sf-ui-display-bold-58646a511e3d9.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sf-ui-display-light-58646b33e0551.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sf-ui-display-medium-58646be638f96.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/*algemeen*/

body{
    background-color: #231C13;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Apostrophic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    color: #F7F7F5;
}

h2{
    font-family: 'Apostrophic';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    color: #F7F7F5;
}

h3{
    font-family: 'Apostrophic';
    font-weight: normal;
    font-style: normal;
    font-size: 1.8em;
    color: #F7F7F5;
}

h4{
    font-family: 'SFUIDisplay';
    font-weight: bold;
    font-style: normal;
    color: #D9D4CA;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 1.4em;
}

p, li{
    font-family: 'SFUIDisplay';
    font-weight: 300;
    font-style: light;
    color: #F7F7F5;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 12pt;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: 'SFUIDisplay';
    font-weight: 300;
    font-style: light;
    color: #D9D4CA;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 14pt;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
}

html {
    scroll-behavior: smooth;
}

/*header*/

.content__image{
    background-image: url(../images/header-img.png);
    margin: 0;
    width: 100vw; 
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.content__image h1 {
    font-family: 'Apostrophic';
    font-size: 20vw;  
    color: #F7F7F5;
    margin: 0;
}

.content__image img{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/*section specials*/

.content__specials{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.content__specials h2{
    color: #D9D4CA;
}

/*section about me*/

.content__about{
    margin-bottom: 100px;
}

.me{
    display: none;
}

.me__mobile{
    width: 500px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: -10 auto;
}

.content__about__dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center; 
    border: 4px solid #9FA490; 
    padding: 1px 24px; 
    border-radius: 8px; 
    margin-bottom: 20px;
}

.content__about__dropdown img{
    width: 30px;
    height: 20px;
    max-width: 100%;
    display: block;
    margin: -10 auto;
}

.content__about__dropdown h3{
    margin-right: 20px;
}

.content__about h1{
    margin-top: -40px;
}

.content__about p{
    margin-bottom: 40px;
}

.studies__content {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease; 
    margin-bottom: 20px;
}

.studies__content.open {
    max-height: 400px; 
}

.ervaring__content {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease; 
}

.ervaring__content.open {
    max-height: 1400px; 
}

.ervaring__content__details{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: top;
    gap: 40px;
    margin-top: 20px;
}

.ervaring__content__details img{
    width: 30px;
    height: 20px;
    max-width: 100%;
}
.ervaring__content__details p{
    margin-top: -4px;
}

.extra{
    margin-bottom: -30px;
}

.studies__content li{
    margin-bottom: 20px;
}

/*section work*/

.content__werk{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
}

.content__werk__works{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}

.content__werk__details img{
    width: 500px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: -10 auto;
}

.content__werk__details p{
    margin-top: -30px;
    margin-bottom: 80px;
}

/*section contact*/

.content__contact a {
    font-family: 'Apostrophic';
    font-size: 8vw;  
    color: #F7F7F5;
}

.content__contact{
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/

footer{
    background-color: #140F08;
}

.footer__content{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
    margin-bottom: 60px;
}

.footer__contact{
    display: flex;
    flex-direction: column;
}

.footer__socials{
    display: flex;
    flex-direction: column;
}

.footer__contact a{
    color: #D9D4CA;
    margin-bottom: 10px;
}

.footer__socials a{
    color: #D9D4CA;
    margin-bottom: 10px;
}

@media only screen and (min-width: 700px) {
    .me{
        width: 500px;
        height: auto;
        max-width: 100%;
        display: block;
        margin: -10 auto;
    }
    
    .me__mobile{
        display: none;
    }

    .content__about .me{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 1000px) {

    body{
        background-color: green;
    }

    .content {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

}